<form th:fragment="countrydropdown" action="/results/country" method="POST">
    <div class="row justify-content-center">
        <label for="countrydropdownbody">Search by Country...</label>
    </div>
    <div class="row justify-content-center">
        <select id="countrydropdownbody" name="searchedCountry">
            <option value="Select country" disabled>Select country...</option>
            <option value="US">United States</option>
            <option value="Canada">Canada</option>
            <option value="Mexico">Mexico</option>
            <th:block th:each="country: ${countryNames}">
                <option th:value="${searchedCountry}" th:id="${searchedCountry}" th:text="${searchedCountry}"></option>
                <option th:value="${country}" th:text="${country}"></option>
            </th:block>
        </select>
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </div>
</form>