<div th:fragment="countydropdown">
    <!-- populate province dropdown based on what the current country is -->
    <form action="/results/country/province/county" method="POST">
        <div class="row justify-content-center">
            <label for="countydropdownbody">Search by County</label>
        </div>
        <div class="row justify-content-center">
            <select id="countydropdownbody" name="searchedCounty">
                <option value="Select province/state..." disabled>Select province/state...</option>
                <th:block th:if="${searchedCounty}">
                    <option th:value="${searchedCounty}" th:id="${searchedCounty}" th:text="${searchedCounty}"></option>
                </th:block>
                <th:block th:each="county : ${countyNames}">
                    <option th:value="${county}" th:id="${county}" th:text="${county}"></option>
                </th:block>
            </select>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
        <input type="hidden" th:name="searchedProvince" th:value="${searchedProvince}" />
        <input type="hidden" th:name="searchedCountry" th:value="${searchedCountry}" />
    </form>
</div>