<footer th:fragment="footernav">
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/svakam/covid-19-location" target="_blank">GitHub</a>
                </li>
                <li class="nav-item" style="position: absolute; right: 20px;">
                    <a class="nav-link disabled" href=""> &copy; 2020 VA</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>