<header th:fragment="headernav">
    <nav class="navbar fixed-top navbar-expand-md scrolling-navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">CV19Locator</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tips">How to Stay Safe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">CV19Locator API</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/svakam/covid-19-location">GitHub</a>
                </li>
            </ul>
        </div>
    </nav>
</header>