<header th:fragment="headernav" class="sticky-top">
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">CV19Locator</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbarNav">
                <form th:replace="../fragments/countrydropdown :: countrydropdown"></form>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>
    </nav>
</header>