<div th:fragment="plotpoints">
        <script th:inline="javascript">
        var z = [[${population}]];
        var dps = [[${dataPoints}]];
        console.log(dps);
        window.onload = function () {
            var options = {
                animationEnabled: true,
                title:{
                    text: "Time Series Data"
                },
                axisX: {
                    valueFormatString: "#,##0.##"
                },
                axisY: {
                    title: "Cases",
                    includeZero: false
                },
                data: [{
                    yValueFormatString: "###,###,###",
                    xValueFormatString: "#,##0.##",
                    type: "spline",
                    dataPoints: dps
                }]
            };
            $("#chartContainer").CanvasJSChart(options);
        }
        </script>
</div>