<div th:fragment="plotpoints">
        <script th:inline="javascript">
        var z = [[${population}]];
        var dps = [[${dataPoints}]];
        console.log(dps);
        window.onload = function () {
            var options = {
                animationEnabled: true,
                title:{
                    text: "Time Series Data"
                },
                axisX: {
                    valueFormatString: "MM-DD-YY",
                    intervalType: "day"
                },
                axisY: {
                    title: "Cases",
                    includeZero: true
                },
                data: [{
                    yValueFormatString: "###,###,###",
                    xValueType: "dateTime",
                    xValueFormatString: "DD-MM-YY",
                    type: "spline",
                    dataPoints: dps
                }]
            };
            $("#chartContainer").CanvasJSChart(options);
        }
        </script>
</div>