<div th:fragment="provincedropdown">
    <!-- populate province dropdown based on what the current country is -->
    <form action="/results/country/province" method="POST">
        <div class="row justify-content-center">
            <label for="provincedropdownbody">Search by Province/State</label>
        </div>
        <div class="row justify-content-center">
            <select id="provincedropdownbody" name="searchedProvince">
                <option value="Select province/state..." disabled>Select province/state...</option>
                <th:block th:if="${searchedProvince}">
                    <option th:value="${searchedProvince}" th:id="${searchedProvince}" th:text="${searchedProvince}"></option>
                </th:block>
                <th:block th:each="province : ${provinceNames}">
                    <option th:value="${province}" th:id="${province}" th:text="${province}"></option>
                </th:block>
            </select>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
        <input type="hidden" th:name="searchedCountry" th:value="${searchedCountry}" />
    </form>
</div>