<div th:fragment="sms">
    <h5>Get notified on a daily basis for case information on this location.</h5>
    <p>(US only)</p>
    <span>
        <form action="/sms" method="POST">
            <label>Phone (US): <input type="tel" name="sms" placeholder="123-456-7890" aria-placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/></label>
            <input type="submit" disabled="true" />
        </form>
        <p><i>Sorry, but this feature is currently down.</i></p>
    </span>
</div>