<div th:fragment="snsAdd">
    <h5>Get notified on a daily basis for case information on this location.</h5>
    <span>
        <form action="/sms/subscribe" method="POST">
            <div class="row">
                <label>Phone (US): <input type="tel" name="snsAdd" placeholder="+12223334444" aria-placeholder="+12223334444" pattern="+1[0-9]{3}[0-9]{3}[0-9]{4}"/></label>
                <button type="submit" class="btn btn-secondary btn-md">Subscribe</button>
                <input type="hidden" th:name="currentURL" th:value="${currentURL}" />
                <th:block th:if="${searchedCountry}">
                    <input type="hidden" th:name="searchedCountry" th:value="${searchedCountry}" />
                </th:block>
                <th:block th:if="${searchedProvince}">
                    <input type="hidden" th:name="searchedProvince" th:value="${searchedProvince}" />
                </th:block>
                <th:block th:if="${searchedCounty}">
                    <input type="hidden" th:name="searchedCounty" th:value="${searchedCounty}" />
                </th:block>
            </div>
        </form>
    </span>
</div>