#indexbody {
    background-color: #010302;
}

#indexbody main section {
    background-image: url("../img/william-navarro-world-1920.jpg");
    background-size: cover;
    color: white;
}

table, td, tr, th {
    border: 1px solid black;
}


/* color scheme: #FFF2C4 light caramel, #303FB3 dark blue, #6D7FFF light blue, #FFE078 some yellow, #B38B00 dark brown