#indexbody main section {
    padding: 7%;
    margin-bottom: -2rem;
}

iframe {
    margin-top: 50px;
}

#disclaimer {
    margin-top: 50px;
    font-size: 12px;
}

#chartContainer {
    box-sizing: none;
}

@media (min-width: 820px) {
    #disclaimer {
        margin-top: 100px;
    }

    #indexbody main section article {
        margin-right: 100px;
        margin-left: 100px;
    }
}

/* --------------- results ----------------- */
#totalCases .card {
    margin: 2%;
}

body main {
    padding: 4%;
}

.statCard {
    margin: 2%;
}

/* mobile */
@media (max-width: 400px) {
    .resultsHeaders, .protectHeaders {
        font-size: 3.2rem;
    }

    #snsAddTop {
        position: relative;
        top: 5px;
    }

    #totalCases article div h3 {
        font-size: 45px;
    }

    #countryDropdown {
        width: 125%;
        position: relative;
        right: 35px;
    }
}

@media (max-width: 450px) {
    #countrydropdown {
        width: 125%;
        position: relative;
        right: 27px;
    }

    .totalsProgression, .safeSubHeaders {
        font-size: 2.5rem;
    }

    #totalCases article div h3 {
        font-size: 35px;
    }

    #snsAddTop {
        position: relative;
        top: 5px;
    }

    .statCard {
        margin-top: 10%;
    }
}

@media (max-width: 768px) {
    #resultsFor, .protectHeaders {
        font-size: 3.5rem;
    }

    #totalCases .card {
        margin: 5%;
    }

    #mobiletip {
        display: block;
    }

    #snsAddBottom {
        position: relative;
        top: 10px;
    }
}

/* ipads and larger */
@media (min-width: 769px) {
    .totalsProgression, .safeSubHeaders {
        font-size: 2.7rem;
    }

    #totalCases article div h3 {
        font-size: 43px;
    }

    #mobiletip {
        display: none;
    }

    #snsAddTop {
        position: absolute;
        right: 45px;
        top: 39px;
    }

    #snsAddBottom {
        position: relative;
        top: 10px;
    }
}

@media (min-width: 894px) {
    #totalCases article div h3 {
        font-size: 40px;
    }
}

@media (min-width: 1025px) {
    #totalCases article div h3 {
        font-size: 44px;
    }
}

/* --------- stay safe ------------ */
img {
    width: 80%;
    margin: auto;
}

.staysafe {
    margin: 5%;
}

.info {
    margin: 1%;
    min-width: 303px;
    max-width: 303px;
}

#howSpreadCard {
    margin-bottom: 2%;
}