/* ==================== index ===================== */
#indexbody main section h1 {
    animation-duration: 0.5s;
    animation-name: fadein;
}

#indexbody main section h3,hr {
    animation-duration: 0.5s;
    animation-name: fadein;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}

#indexbody main section form {
    animation-duration: 0.5s;
    animation-name: fadein;
    animation-delay: 2.1s;
    animation-fill-mode: both;
}

iframe {
    animation-duration: 0.5s;
    animation-name: fadein;
    animation-delay: 2.9s;
    animation-fill-mode: both;
}

#disclaimer {
    animation-duration: 0.5s;
    animation-name: fadein;
    animation-delay: 3.7s;
    animation-fill-mode: both;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ==================== results ===================== */