<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title th:text="'Results for ' + ${searchedCountry}"></title>
    </head>
    <body>
        <header th:replace="../fragments/headernav :: headernav"></header>
        <main>
            <th:block th:if="${countryOfProvince}">
                <h3 th:text="'Sorry, but summary results for ' + ${searchedCountry} + ' is not up to date at the moment. View it as a province of ' + ${countryOfProvince}
                    + ' instead.'"></h3>
                <a th:href="'/results/' + ${countryOfProvince} + '/' + ${searchedCountry}"></a>
            </th:block>
            <th:block th:unless="${countryOfProvince}">
                <h1 th:text="'Results for ' + ${searchedCountry}"></h1>
                <h2>Statistics</h2>
                <h3>Cases confirmed</h3>
                <p th:text="'New confirmed: ' + ${caseInfoForCountry[0]}"></p>
                <p th:text="'Total confirmed: ' + ${caseInfoForCountry[1]}"></p>
                <h3>Deaths</h3>
                <p th:text="'New deaths: ' + ${caseInfoForCountry[2]}"></p>
                <p th:text="'Total deaths: ' + ${caseInfoForCountry[3]}"></p>
                <h3>Recovered</h3>
                <p th:text="'New recoveries: ' + ${caseInfoForCountry[4]}"></p>
                <p th:text="'Total recoveries: ' + ${caseInfoForCountry[5]}"></p>
            </th:block>

            <h2>County/State in the news</h2>

            <h2>Ways to stay safe</h2>

            <div th:replace="../fragments/bootstrapjs :: bootstrapjs"></div>
            <div th:replace="../fragments/firebase :: firebase"></div>

            <!-- populate province dropdown based on what the current country is -->
            <h3>Filter by Province/State</h3>
            <form>

            </form>
        </main>
    </body>
</html>