<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>COVID-19 Locator</title>
    </head>
    <body>

        <h1>COVID-19 Locator</h1>
        <h3>See how COVID-19 is affecting your community.</h3>

        <!-- dropdown of countries rendered by passed in attribute -->
        <!-- submit button below it submits selected country on POST route -->
        <form action="/search" method="POST">
            <select id="countrydropdown" name="country">
                <option value="United States">United States</option>
                <option value="Canada">Canada</option>
            </select>
            <button type="submit">Search</button>
        </form>

        <p th:text="${countries}"></p>

        <div th:replace="../fragments/bootstrapjs :: bootstrapjs"></div>
        <div th:replace="../fragments/firebase :: firebase"></div>
    </body>
</html>