<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- native CSS -->
        <link rel="stylesheet" href="css/baseindex.css" type="text/css">
        <link rel="stylesheet" href="css/layoutindex.css" type="text/css">
        <link rel="stylesheet" href="css/state.css" type="text/css">

        <title>COVID-19 Locator</title>
    </head>
    <body id="indexbody">
        <header th:replace="../fragments/headernav :: headernav"></header>
        <main>
            <section class="jumbotron jumbotron-fluid">
                <h1 class="display-1 text-center">COVID-19 Locator</h1>
                <h3 class="display-4 text-center">Learn how your community is being affected.</h3>
                <hr class="my-4">
                <form th:replace="../fragments/countrydropdown :: countrydropdown"></form>
                <article class="row row-cols-1 justify-content-center">
                    <iframe width="850" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="2019-nCoV"
                            src="//gisanddata.maps.arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c&extent=77.3846,11.535,163.5174,52.8632&zoom=
                        true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe>
                    <p class="text-right"><em>Source: Johns Hopkins University</em></p>
                </article>
                <!-- https://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61 -->
                <div class="alert alert-light" role="alert" id="disclaimer">DISCLAIMER: <br> This website renders data from
                    <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University CSSE</a>. From JHU CSSE's Terms of Use:
                    "The Website relies upon publicly available data from multiple sources, that do not always agree. The Johns Hopkins University hereby
                    disclaims any and all representations and warranties with respect to the Website, including accuracy, fitness for use, and merchantability.
                    Reliance on the Website for medical guidance or use of the Website in commerce is strictly prohibited."
                </div>
            </section>
        </main>
        <footer>

        </footer>
        <div th:replace="../fragments/bootstrapjs :: bootstrapjs"></div>
        <div th:replace="../fragments/firebase :: firebase"></div>
    </body>
</html>