<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV19Locator</title>
</head>
<body>
    <div th:replace="../fragments/headernav :: headernav"></div>
    <main>
        <h1>CV19Locator API</h1>
        <h3>For Developers</h3>
        <p>The CV19Locator API obtains case data from the GitHub of the Johns Hopkins University Center for Systems Science and Engineering. View the documentation
            on Postman <a href="">here.</a></p>
    </main>
    <div th:replace="../fragments/bootstrapjs :: bootstrapjs"></div>
</body>
</html>