<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon -->
    <div th:replace="../fragments/favicon :: favicon"></div>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- native CSS -->
    <link rel="stylesheet" href="../css/baseindex.css" type="text/css">
    <link rel="stylesheet" href="../css/layoutindex.css" type="text/css">
    <link rel="stylesheet" href="../css/state.css" type="text/css">

    <title>CV19Locator</title>
</head>
<body>
    <div th:replace="../fragments/headernav :: headernav"></div>
    <main>
        <div th:replace="../fragments/searchByLocation :: searchByLocation"></div>
        <h1 class="display-4">CV19Locator API</h1>
        <h3>For Developers</h3>
        <p>The CV19Locator API obtains case data from the GitHub of the Johns Hopkins University Center for Systems Science and Engineering.</p>
        <p>This public API allows developers to avoid the hassle of having to parse through .csv files and come up with arduous implementations to sort through case data by location.</p>
        <p>Postman documentation will be available soon!</p>
        <h3>Current available endpoints (copy-paste these URLs into your browser or Postman):</h3>
        <h4>http://cv19location.com/API/series/global/confirmed</h4>
        <p>Obtains time series global data on confirmed cases.</p>
        <h4>http://cv19location.com/API/series/global/deaths</h4>
        <p>Obtains time series global data on fatal cases.</p>
        <h4>http://cv19location.com/API/series/global/recovered</h4>
        <p>Obtains time series global data on recovered cases.</p>
        <h4>http://cv19location.com/API/series/US/confirmed</h4>
        <p>Obtains time series US data on confirmed cases.</p>
        <h4>http://cv19location.com/API/series/US/deaths</h4>
        <p>Obtains time series US data on fatal cases.</p>
        <h4>http://cv19location.com/API/uifcountries</h4>
        <p>Obtains country codes and population data on countries/provinces/counties.</p>
        <p>(This page is a work in progress.)</p>
    </main>
    <div th:replace="../fragments/bootstrapjs :: bootstrapjs"></div>
    <div th:replace="../fragments/goToDropdowns :: goToDropdowns"></div>
</body>
</html>